html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
    border: 2px solid red;
}


.column-1 {
    background-color: green;
}

.header {
    border: 2px solid white;
}

.content {
    border: 2px solid white;
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
}

.image {
    border: 2px solid blue;
}
.textbox {
    border: 2px solid yellow;
}

.textbox-title {
    border: 2px solid red;
}

.textbox-text {
    border: 2px solid white;
}

.column-2 {
    background-color: red;
    display: flex;
    flex-direction: column;
}

.title-2 {
    display: flex;
    border: 2px solid yellow;
    justify-content: center;
    align-items: center;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section {
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-2 {
    border:2px solid green;
}

.img-text {
    border: 2px solid blue;
}

.column-3 {
    background-color: blue;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-3 {
    display: flex;
    flex-direction: column;
    border: 2px solid green;
}

.column-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color:chocolate;
}

.content-4 {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
}

.big-text {
    border: 2px solid green;
}

.small-text {
    border: 2px solid yellow;
}

.card-button {
    display: flex;
    border: 2px solid blue;
    justify-content: center;
    align-items: center;
}