html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.main {
    display: flex;
    flex-direction: column;
}

/* COLUMN 1 */

.header {
    display: flex;
    gap: 8px;
}

.header-logo {
    margin-right: auto;
    color: white;
    font-size: 24px;
    font-weight: 900;
}

.header-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
}

.column-1 {
    background-color: #1F2937;
}

.header {
}

.content {
    display: flex;
    display: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.image {
    display: flex;
}

.img-1 {
    max-width: 300px;
}
.textbox {
    display: flex;
    flex-direction: column;
}

.textbox-title {
    color: white;
    font-size: 48px;
    font-weight: 900;
    max-width: 500px;
    max-height: 200px;
    justify-content: baseline;
    align-items:flex-start;
}

.textbox-text {
    color: white;
    font-size: 18px;
    max-width: 500px;
}

.textbox-button > button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border: 2px solid #3d70c2;
    border-radius: 4px;
    padding: 5px 30px;
}

/* COLUMN 2 */

.column-2 {
    background-color: white;
    display: flex;
    flex-direction: column;
}

.title-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.content-2 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-2 {
    width: 150px;
    height: 150px;
}

.img-text {
    font-size: 18px;
    color: #1F2937;
    max-width: 150px;
    text-align: center;
}

/* COLUMN 3 */

.column-3 {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px 0;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    max-width: 800px;
    max-height: 200px;
}

.author {
    margin-left: auto;
    display: flex;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
}

.content-3 {
    display: flex;
    flex-direction: column;
}

/* COLUMN 4 */

.column-4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.content-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.card {
    display: flex;
    background-color: #3882f6;
    padding: 20px 50px;
    border-radius: 5px;
    gap: 40px;
}

.big-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
}

.small-text {
    color: white;
    font-size: 18px;
    max-width: 600px;
    text-align: left;
}

.card-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-button > button {
    color: white;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    border: 2px solid white;
    border-radius: 4px;
    padding: 5px 30px;
}

/* FOOTER */